* {
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(221, 179, 211);
  }

.box {

    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

button {

    width: 300px;
    height: 100px;
    background-color: rgb(129, 196, 58);
    margin: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}


.griddy:hover {
    background-color: yellow;
}
